@model Teacher
<div class="conatiner">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <ul class="list-unstyled">
                    <li><img src="~/img/teacher/@Model.ImageUrl" alt="Alternate Text" /></li>
                </ul>
                <h4 class="card-title">@Model.Name</h4>
                <p class="card-description">
                    Description: @Model.Description
                </p>
                <p>
                   Position: @Model.Position
                </p>
                <p>
                  Faculty: @Model.Faculty
                </p>
                <p>
                  Faculty: @Model.Degree
                </p>
                <p>
                    Number: @Model.Number
                </p>
                <p>
                    Email: @Model.Email
                </p>
                <p>
                    Link: @Model.Social
                </p>
                <a asp-action="index" class="btn btn-outline-primary">Go Back</a>
            </div>
        </div>
    </div>
</div>